@model HomeViewModel

<partial name="_Carousel"/>

<div class="row">
    <h2 class="text-center">Os preferidos da semana</h2>
    <h4 class="text-center">Tá com fome ???</h4>
</div>

<div class="row">
    @foreach(var lanche in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>